{
    admin off
    persist_config off
    auto_https off
    log {
        format console
    }
    servers {
        trusted_proxies static private_ranges
    }
}

:{$PORT} {
    log {
        format console
    }

    # health check for railway
    respond /health 200

    # serve from the 'build' folder (Create React App builds into the 'build' folder)
    root * build

    # enable gzipping responses
    encode gzip

    # serve files from 'build'
    file_server

    # if path doesn't exist, redirect it to 'index.html' for client-side routing
    try_files {path} /index.html
}
