{
    admin off
    persist_config off
    auto_https off
    log {
        format console
    }
    servers {
        trusted_proxies static private_ranges
    }
}

:{$PORT} {
    log {
        format console
    }

    # health check for Railway
    respond /health 200

    # Serve from the 'build' folder (Create React App builds into the 'build' folder)
    root * build

    # Enable gzipping responses
    encode gzip

    # Serve files from 'build'
    file_server

    # Redirect any missing files or paths to 'index.html' for client-side routing
    try_files {path} /index.html
}
